.cartItem {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 60% 30%;
  position: relative;
  margin: 5px;
  padding: 1%;
  width: 93%;
  height: 12vh;
  border: 5px;
  border-style: solid;
  border-radius: 30px;
}

.cartItemImage {
  max-width: 100%;
}

.cartItemTitle {
  font-size: 24px;
  line-height: 1.2;
  margin: 5px 10px 5px 10px;
  width: 95%;
  height: 8vh;
  overflow: hidden;
}

.cartItemPrice {
  justify-self: center;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.containerQuantity {
  display: flex;
  width: 80%;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.btnDecreaseQuantity {
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  margin: 2px;
}

.quantity {
  margin: 2px 10px;
  padding: 5px;
}

.btnIncreaseQuantity {
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  margin: 2px;
}

.btnRemoveCartItemFromCart {
  justify-self: center;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  width: 3vw;
  height: 3vh;
  padding: 0px;
  font-size: 12px;
  font-weight: bold;
}
